.banner {
  background-image: url("https://www.gardenparadiseseeds.com/cdn/shop/collections/tropical-exotic-seeds-768892.jpg?v=1691375736&quot");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
}
.text-green {
  color: rgb(4, 106, 56);
}
.card-product {
  cursor: pointer;
}
.card-product {
  transition: all 0.3s ease-in-out;
}

.card-product:hover {
  opacity: 0.8;
  transform: scale(1.1);
  animation: hover-effect 0.3s ease-in-out;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@keyframes hover-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}
.bg-green {
  background-color: rgb(4, 106, 56);
  color: #fff;
}
.bg-grey {
  background-color: #bcbaba;
}
.bg-grey:hover {
  box-shadow: 0 0 0 0.2rem #8a8686;
  background-color: #bcbaba;
}
.bg-green:hover {
  box-shadow: 0 0 0 0.2rem #0ae87b;
  background-color: rgb(4, 106, 56);
}
.bg-green:focus,
.bg-grey:focus {
  box-shadow: 0 0 0 0.2rem #8a8686;
  background-color: rgb(4, 106, 56);
  color: #fff;
}
.input-search {
  background-color: #bcbaba;
  outline: none;
  color: rgb(4, 106, 56) !important;
}
.input-search:hover {
  box-shadow: 0 0 0 0.2rem #8a8686;
  background-color: #bcbaba;
  border: none;
}
.input-search:focus {
  box-shadow: 0 0 0 0.2rem #8a8686;
  background-color: #bcbaba;
  border: none;
}
.btn-search {
  background-color: rgb(4, 106, 56);
  color: #fff;
}
.btn-search:hover {
  color: #fff;
  background-color: #046134;
  border-color: #04552d;
  box-shadow: 0 0 0 0.2rem #0ae87b;
}
.btn-search:focus {
  background-color: rgb(4, 106, 56);
  color: #fff;
}
