.btnClose {
  background-color: #b4b4b4;
  border-color: #aeaeae;
}
.btnClose:hover {
  box-shadow: 0 0 0 0.2rem #949494;
}
.btnClose:focus {
  box-shadow: 0 0 0 0.2rem #949494;
}
.quantityBtn {
  color: #068647;
  background-color: #b4b4b4;
  border: none;
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 10px;
}
.quantityBtn:hover {
  box-shadow: 0 0 0 0.2rem #8a8686;
}
.quantityBtn:focus {
  box-shadow: 0 0 0 0.2rem #8a8686;
}
.btnCheckOut {
  border: none;
  border-radius: 10px;
  background-color: #068647;
}
.btnCheckOut:hover {
  border: none;
  border-radius: 10px;
  background-color: #046134;
}
